@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #121214;
  --background-hex: #C4C4CC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #C4C4CC;
    --background-hex: #121214;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
